@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  width: 400px;
  height: 275px;
  background-color: #eff1f9;
  font-family: "Montserrat", sans-serif;
}
nav {
  background-color: white;
  padding: 5vh;
}
h1 {
  display: inline-block;
  margin-left: 10px;
  font-size: large;
  font-weight: bolder;
}
a{
  text-decoration: none;
}
.form-switch {
  float: right;
}
main {
  padding: 5vh;
}
textarea {
  resize: none;
  border-radius: 2vh;
}
button {
  float: right;
}
